body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.black{
    background-color: #1C1C1C;
    flex:1;
    color: #FFFFFF;
    padding: 80px 50px;
}
.black h1{
    font-weight: 500;
    font-size: 50px;
    margin: 0px 0px 24px;
    line-height: 1.1;
}
.black p{
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
}
.white{
    background-color: white;
    flex:1.2;
}
.icon--logo {
  display: block;
  width: 120px; 
  margin-top: 30px;
  padding: 0 0 50px;
  margin: 0;
}
.elements{
    display: flex;
    align-items: center;
    gap: 7px;
}
.features{
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.elements p {
  margin: 6px;          
  font-weight: 550;
  color: #FFFFFF;
}
.companies{
    display: flex;
    height: 30px;
    width: 30px;
    gap: 30px;
}
.star{
    display: flex;
    color: #FFFFFF;
}
.bottom {
  display: flex;
  align-items: center;  
  gap: 12px;             
  margin-top: 40px;
}
.bottom p{
    margin: 0;
}
.white{
    padding-top:130px;
    padding-left:80px
}
.white h2{
    font-weight: 500;
    font-size: 30px;
    
    margin: 0px 0px 2px;
    line-height: 1.1;
}
.white p{
    color: #949494;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    margin: 0;   
}
.entries h4{
    font-weight: 400;
    font-size: 15px;
}
.entries input{
    width: 500px;
  padding: 12px 14px;   /* padding applies to placeholder too */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.white button{
    padding: 10px 16px;
    border-radius: 14px;
    background-color: #6E6E6E;
    color: #FFFFFF;
    border: none;
    font-size: 15px;
    margin-top: 70px;
    cursor: pointer;
}
.rect{
    display: flex;
    gap: 8px;
}

